# CUMULATIVE SUM (Running Total)OF COLUMN AND GROUP IN PYSPARK

In [2]:
from pyspark.sql.window import Window
from pyspark.sql import SparkSession,types
spark = SparkSession.builder.appName('practice').getOrCreate()

In [4]:
df=spark.read.csv('C:/Users/Shivaraj/pyspark work/supermarket_sales1.csv',header=True)
df.show()

+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
| Invoice ID|     City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
|750-67-8428|   Yangon|  null|   Health and beauty|     74.69|    null|26.1415|548.9715|01-05-2019|
|226-31-3081|Naypyitaw|Female|Electronic access...|     15.28|       5|   3.82|   80.22|03-08-2019|
|631-41-3108|   Yangon|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|03-03-2019|
|123-19-1176|   Yangon|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048| 1/27/2019|
|373-73-7910|     null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|
|699-14-3026|     null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|
|355-53-5943|   Yangon|Female|                null|     68.84|       6| 20.652| 433.692| 2/25/2019|
|315-22-5665|Naypyitaw|Female|  Home and lifestyle|     73.56|    null|  36.78|  772.38|      null|
|665-32-9167|   Yangon|Female|   Health and beauty|     36.26|    null|  3.626|  76.146|01-10-2019|
|692-92-5582|     null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|
|351-62-0822|     null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|
|529-56-3974| Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|
|365-64-0515|     null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|
|252-56-2699|   Yangon|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495|02-07-2019|
|829-34-3910|   Yangon|Female|   Health and beauty|     71.38|      10|  35.69|  749.49| 3/29/2019|
|299-46-1805| Mandalay|Female|   Sports and travel|     93.72|       6| 28.116| 590.436| 1/15/2019|
|656-95-9349|   Yangon|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|03-11-2019|
|765-26-6951|   Yangon|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443|01-01-2019|
|329-62-1586|   Yangon|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105| 1/21/2019|
|319-50-3348| Mandalay|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|03-11-2019|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
only showing top 20 rows

In [6]:
import sys
from pyspark.sql.window import Window
import pyspark.sql.functions as f
from pyspark.sql.functions import *
cum_sum = df.withColumn('cumsum', f.sum(df.Total).over(Window.partitionBy('Product line').orderBy('Invoice ID').rowsBetween(-sys.maxsize, 0)))
cum_sum.select("*",round("cumsum",2)).drop('cumsum').withColumnRenamed("round(cumsum, 2)","cumsum").show(8,truncate=False)

+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+-------+
|Invoice ID |City     |Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date      |cumsum |
+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+-------+
|351-62-0822|null     |Female|null                  |14.48     |4       |2.896  |60.816  |02-06-2019|60.82  |
|355-53-5943|Yangon   |Female|null                  |68.84     |6       |20.652 |433.692 |2/25/2019 |494.51 |
|373-73-7910|null     |Male  |null                  |86.31     |7       |30.2085|634.3785|02-08-2019|1128.89|
|692-92-5582|null     |Female|null                  |null      |3       |8.226  |172.746 |2/20/2019 |1301.63|
|699-14-3026|null     |Male  |null                  |85.39     |7       |29.8865|null    |3/25/2019 |1301.63|
|114-35-5271|Mandalay |Female|Electronic accessories|57.91     |8       |23.164 |486.444 |02-07-2019|486.44 |
|120-06-4233|Naypyitaw|Male  |Electronic accessories|30.61     |6       |9.183  |192.843 |03-12-2019|679.29 |
|122-61-9553|Naypyitaw|Female|Electronic accessories|51.32     |9       |23.094 |484.974 |3/14/2019 |1164.26|
+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+-------+
only showing top 8 rows

In [7]:
import sys

from pyspark.sql.window import Window
import pyspark.sql.functions as F
cumulative=df.withColumn("CumlativeSum",f.sum(df.Total).over(Window.partitionBy().orderBy().rowsBetween(-sys.maxsize, 0)))
cumulative.select("*",round("CumlativeSum",2)).drop('CumlativeSum').withColumnRenamed("round(CumlativeSum, 2)","CumlativeSum").show(truncate=False)

+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+------------+
|Invoice ID |City     |Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date      |CumlativeSum|
+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+------------+
|750-67-8428|Yangon   |null  |Health and beauty     |74.69     |null    |26.1415|548.9715|01-05-2019|548.97      |
|226-31-3081|Naypyitaw|Female|Electronic accessories|15.28     |5       |3.82   |80.22   |03-08-2019|629.19      |
|631-41-3108|Yangon   |Male  |Home and lifestyle    |46.33     |7       |16.2155|340.5255|03-03-2019|969.72      |
|123-19-1176|Yangon   |Male  |Health and beauty     |58.22     |8       |23.288 |489.048 |1/27/2019 |1458.77     |
|373-73-7910|null     |Male  |null                  |86.31     |7       |30.2085|634.3785|02-08-2019|2093.14     |
|699-14-3026|null     |Male  |null                  |85.39     |7       |29.8865|null    |3/25/2019 |2093.14     |
|355-53-5943|Yangon   |Female|null                  |68.84     |6       |20.652 |433.692 |2/25/2019 |2526.84     |
|315-22-5665|Naypyitaw|Female|Home and lifestyle    |73.56     |null    |36.78  |772.38  |null      |3299.22     |
|665-32-9167|Yangon   |Female|Health and beauty     |36.26     |null    |3.626  |76.146  |01-10-2019|3375.36     |
|692-92-5582|null     |Female|null                  |null      |3       |8.226  |172.746 |2/20/2019 |3548.11     |
|351-62-0822|null     |Female|null                  |14.48     |4       |2.896  |60.816  |02-06-2019|3608.92     |
|529-56-3974|Mandalay |Male  |Electronic accessories|25.51     |4       |5.102  |107.142 |03-09-2019|3716.07     |
|365-64-0515|null     |null  |Electronic accessories|46.95     |5       |null   |null    |02-12-2019|3716.07     |
|252-56-2699|Yangon   |Male  |Food and beverages    |43.19     |10      |21.595 |453.495 |02-07-2019|4169.56     |
|829-34-3910|Yangon   |Female|Health and beauty     |71.38     |10      |35.69  |749.49  |3/29/2019 |4919.05     |
|299-46-1805|Mandalay |Female|Sports and travel     |93.72     |6       |28.116 |590.436 |1/15/2019 |5509.49     |
|656-95-9349|Yangon   |Female|Health and beauty     |68.93     |7       |24.1255|506.6355|03-11-2019|6016.12     |
|765-26-6951|Yangon   |Male  |Sports and travel     |72.61     |6       |21.783 |457.443 |01-01-2019|6473.57     |
|329-62-1586|Yangon   |Male  |Food and beverages    |54.67     |3       |8.2005 |172.2105|1/21/2019 |6645.78     |
|319-50-3348|Mandalay |Female|Home and lifestyle    |40.3      |2       |4.03   |84.63   |03-11-2019|6730.41     |
+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+------------+
only showing top 20 rows

In [8]:
df.show()

+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
| Invoice ID|     City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
|750-67-8428|   Yangon|  null|   Health and beauty|     74.69|    null|26.1415|548.9715|01-05-2019|
|226-31-3081|Naypyitaw|Female|Electronic access...|     15.28|       5|   3.82|   80.22|03-08-2019|
|631-41-3108|   Yangon|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|03-03-2019|
|123-19-1176|   Yangon|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048| 1/27/2019|
|373-73-7910|     null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|
|699-14-3026|     null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|
|355-53-5943|   Yangon|Female|                null|     68.84|       6| 20.652| 433.692| 2/25/2019|
|315-22-5665|Naypyitaw|Female|  Home and lifestyle|     73.56|    null|  36.78|  772.38|      null|
|665-32-9167|   Yangon|Female|   Health and beauty|     36.26|    null|  3.626|  76.146|01-10-2019|
|692-92-5582|     null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|
|351-62-0822|     null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|
|529-56-3974| Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|
|365-64-0515|     null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|
|252-56-2699|   Yangon|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495|02-07-2019|
|829-34-3910|   Yangon|Female|   Health and beauty|     71.38|      10|  35.69|  749.49| 3/29/2019|
|299-46-1805| Mandalay|Female|   Sports and travel|     93.72|       6| 28.116| 590.436| 1/15/2019|
|656-95-9349|   Yangon|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|03-11-2019|
|765-26-6951|   Yangon|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443|01-01-2019|
|329-62-1586|   Yangon|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105| 1/21/2019|
|319-50-3348| Mandalay|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|03-11-2019|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
only showing top 20 rows

In [9]:
df.select("*",round("Total",2)).drop("Total").withColumnRenamed("round(Total, 2)","Total").show()

+-----------+---------+------+--------------------+----------+--------+-------+----------+------+
| Invoice ID|     City|Gender|        Product line|Unit price|Quantity| Tax 5%|      Date| Total|
+-----------+---------+------+--------------------+----------+--------+-------+----------+------+
|750-67-8428|   Yangon|  null|   Health and beauty|     74.69|    null|26.1415|01-05-2019|548.97|
|226-31-3081|Naypyitaw|Female|Electronic access...|     15.28|       5|   3.82|03-08-2019| 80.22|
|631-41-3108|   Yangon|  Male|  Home and lifestyle|     46.33|       7|16.2155|03-03-2019|340.53|
|123-19-1176|   Yangon|  Male|   Health and beauty|     58.22|       8| 23.288| 1/27/2019|489.05|
|373-73-7910|     null|  Male|                null|     86.31|       7|30.2085|02-08-2019|634.38|
|699-14-3026|     null|  Male|                null|     85.39|       7|29.8865| 3/25/2019|  null|
|355-53-5943|   Yangon|Female|                null|     68.84|       6| 20.652| 2/25/2019|433.69|
|315-22-5665|Naypyitaw|Female|  Home and lifestyle|     73.56|    null|  36.78|      null|772.38|
|665-32-9167|   Yangon|Female|   Health and beauty|     36.26|    null|  3.626|01-10-2019| 76.15|
|692-92-5582|     null|Female|                null|      null|       3|  8.226| 2/20/2019|172.75|
|351-62-0822|     null|Female|                null|     14.48|       4|  2.896|02-06-2019| 60.82|
|529-56-3974| Mandalay|  Male|Electronic access...|     25.51|       4|  5.102|03-09-2019|107.14|
|365-64-0515|     null|  null|Electronic access...|     46.95|       5|   null|02-12-2019|  null|
|252-56-2699|   Yangon|  Male|  Food and beverages|     43.19|      10| 21.595|02-07-2019| 453.5|
|829-34-3910|   Yangon|Female|   Health and beauty|     71.38|      10|  35.69| 3/29/2019|749.49|
|299-46-1805| Mandalay|Female|   Sports and travel|     93.72|       6| 28.116| 1/15/2019|590.44|
|656-95-9349|   Yangon|Female|   Health and beauty|     68.93|       7|24.1255|03-11-2019|506.64|
|765-26-6951|   Yangon|  Male|   Sports and travel|     72.61|       6| 21.783|01-01-2019|457.44|
|329-62-1586|   Yangon|  Male|  Food and beverages|     54.67|       3| 8.2005| 1/21/2019|172.21|
|319-50-3348| Mandalay|Female|  Home and lifestyle|      40.3|       2|   4.03|03-11-2019| 84.63|
+-----------+---------+------+--------------------+----------+--------+-------+----------+------+
only showing top 20 rows