# filter operations
    and &
    or |
    not ~

In [16]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('dataframe').getOrCreate()

df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [18]:
# salary lesser than or equel to 20000

df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [22]:
# select only two column name and age

df_pyspark.filter("Salary<=20000").select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [23]:
df_pyspark.filter((df_pyspark['salary'])<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [1]:
# & AND OPERATOR

df_pyspark.filter(
    (df_pyspark['salary']<=20000) &
    (df_pyspark['salary']>=16000)).show()

NameError: name 'df_pyspark' is not defined

In [34]:
# & AND OPERATOR

df_pyspark.filter(
    (df_pyspark['salary']<=20000) &
    (df_pyspark['age']<=30)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [36]:
# | OR OPERATOR

df_pyspark.filter(
    (df_pyspark['salary']<=20000) |
    (df_pyspark['age']<=30)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [38]:
# ~ NOT OPERATOR

df_pyspark.filter(
            (df_pyspark['salary']>=30000) |
            (~(df_pyspark['age']<=29))
                 ).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+