In [88]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("test").getOrCreate()
df=spark.read.csv(r"C:\Users\Shivaraj\supermarket_sales1.csv")
df.show(10,False)

+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+
|_c0        |_c1      |_c2   |_c3                   |_c4       |_c5     |_c6    |_c7     |_c8       |
+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+
|Invoice ID |City     |Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date      |
|750-67-8428|Yangon   |Female|Health and beauty     |74.69     |7       |26.1415|548.9715|01-05-2019|
|226-31-3081|Naypyitaw|Female|Electronic accessories|15.28     |5       |3.82   |80.22   |03-08-2019|
|631-41-3108|Yangon   |Male  |Home and lifestyle    |46.33     |7       |16.2155|340.5255|03-03-2019|
|123-19-1176|Yangon   |Male  |Health and beauty     |58.22     |8       |23.288 |489.048 |1/27/2019 |
|373-73-7910|Yangon   |Male  |Sports and travel     |86.31     |7       |30.2085|634.3785|02-08-2019|
|699-14-3026|Naypyitaw|Male  |Electronic accessories|85.39     |7       |29.8865|627.6165|3/25/2019 |
|355-53-5943|Yangon   |Female|Electronic accessories|68.84     |6       |20.652 |433.692 |2/25/2019 |
|315-22-5665|Naypyitaw|Female|Home and lifestyle    |73.56     |10      |36.78  |772.38  |2/24/2019 |
|665-32-9167|Yangon   |Female|Health and beauty     |36.26     |2       |3.626  |76.146  |01-10-2019|
+-----------+---------+------+----------------------+----------+--------+-------+--------+----------+
only showing top 10 rows

In [89]:
cols=df.columns
cols

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6', '_c7', '_c8']

# modifing  column names

In [58]:
from pyspark.sql.functions import *
from functools import *
df1=reduce(lambda new_df, i : new_df.withColumnRenamed(i, i.replace(" ","_")),cols,df)

In [59]:
df1.show()

+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
| Invoice_ID|     City|Gender|        Product_line|Unit_price|Quantity| Tax_5%|   Total|      Date|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
|750-67-8428|   Yangon|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|01-05-2019|
|226-31-3081|Naypyitaw|Female|Electronic access...|     15.28|       5|   3.82|   80.22|03-08-2019|
|631-41-3108|   Yangon|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|03-03-2019|
|123-19-1176|   Yangon|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048| 1/27/2019|
|373-73-7910|   Yangon|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|02-08-2019|
|699-14-3026|Naypyitaw|  Male|Electronic access...|     85.39|       7|29.8865|627.6165| 3/25/2019|
|355-53-5943|   Yangon|Female|Electronic access...|     68.84|       6| 20.652| 433.692| 2/25/2019|
|315-22-5665|Naypyitaw|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38| 2/24/2019|
|665-32-9167|   Yangon|Female|   Health and beauty|     36.26|       2|  3.626|  76.146|01-10-2019|
|692-92-5582| Mandalay|Female|  Food and beverages|     54.84|       3|  8.226| 172.746| 2/20/2019|
|351-62-0822| Mandalay|Female| Fashion accessories|     14.48|       4|  2.896|  60.816|02-06-2019|
|529-56-3974| Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|
|365-64-0515|   Yangon|Female|Electronic access...|     46.95|       5|11.7375|246.4875|02-12-2019|
|252-56-2699|   Yangon|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495|02-07-2019|
|829-34-3910|   Yangon|Female|   Health and beauty|     71.38|      10|  35.69|  749.49| 3/29/2019|
|299-46-1805| Mandalay|Female|   Sports and travel|     93.72|       6| 28.116| 590.436| 1/15/2019|
|656-95-9349|   Yangon|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|03-11-2019|
|765-26-6951|   Yangon|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443|01-01-2019|
|329-62-1586|   Yangon|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105| 1/21/2019|
|319-50-3348| Mandalay|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|03-11-2019|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
only showing top 20 rows

# Completely changing colums names

In [90]:
from pyspark.sql.functions import *
from functools import *
colms=df.columns

new_cols=["Invoice","City_Name","Genders","Products","Unit_price","Quantity","5%_Tax","Total_amount","Date"]

new_df1=reduce(lambda df2, i: df2.withColumnRenamed(colms[i], new_cols[i]), range(len(cols)), df)

In [91]:
new_df1.show()

+-----------+---------+-------+--------------------+----------+--------+-------+------------+----------+
|    Invoice|City_Name|Genders|            Products|Unit_price|Quantity| 5%_Tax|Total_amount|      Date|
+-----------+---------+-------+--------------------+----------+--------+-------+------------+----------+
| Invoice ID|     City| Gender|        Product line|Unit price|Quantity| Tax 5%|       Total|      Date|
|750-67-8428|   Yangon| Female|   Health and beauty|     74.69|       7|26.1415|    548.9715|01-05-2019|
|226-31-3081|Naypyitaw| Female|Electronic access...|     15.28|       5|   3.82|       80.22|03-08-2019|
|631-41-3108|   Yangon|   Male|  Home and lifestyle|     46.33|       7|16.2155|    340.5255|03-03-2019|
|123-19-1176|   Yangon|   Male|   Health and beauty|     58.22|       8| 23.288|     489.048| 1/27/2019|
|373-73-7910|   Yangon|   Male|   Sports and travel|     86.31|       7|30.2085|    634.3785|02-08-2019|
|699-14-3026|Naypyitaw|   Male|Electronic access...|     85.39|       7|29.8865|    627.6165| 3/25/2019|
|355-53-5943|   Yangon| Female|Electronic access...|     68.84|       6| 20.652|     433.692| 2/25/2019|
|315-22-5665|Naypyitaw| Female|  Home and lifestyle|     73.56|      10|  36.78|      772.38| 2/24/2019|
|665-32-9167|   Yangon| Female|   Health and beauty|     36.26|       2|  3.626|      76.146|01-10-2019|
|692-92-5582| Mandalay| Female|  Food and beverages|     54.84|       3|  8.226|     172.746| 2/20/2019|
|351-62-0822| Mandalay| Female| Fashion accessories|     14.48|       4|  2.896|      60.816|02-06-2019|
|529-56-3974| Mandalay|   Male|Electronic access...|     25.51|       4|  5.102|     107.142|03-09-2019|
|365-64-0515|   Yangon| Female|Electronic access...|     46.95|       5|11.7375|    246.4875|02-12-2019|
|252-56-2699|   Yangon|   Male|  Food and beverages|     43.19|      10| 21.595|     453.495|02-07-2019|
|829-34-3910|   Yangon| Female|   Health and beauty|     71.38|      10|  35.69|      749.49| 3/29/2019|
|299-46-1805| Mandalay| Female|   Sports and travel|     93.72|       6| 28.116|     590.436| 1/15/2019|
|656-95-9349|   Yangon| Female|   Health and beauty|     68.93|       7|24.1255|    506.6355|03-11-2019|
|765-26-6951|   Yangon|   Male|   Sports and travel|     72.61|       6| 21.783|     457.443|01-01-2019|
|329-62-1586|   Yangon|   Male|  Food and beverages|     54.67|       3| 8.2005|    172.2105| 1/21/2019|
+-----------+---------+-------+--------------------+----------+--------+-------+------------+----------+
only showing top 20 rows