In [1]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql import SparkSession,types
spark = SparkSession.builder.appName('practice').getOrCreate()

In [2]:
df=spark.read.csv('C:/Users/Shivaraj/pyspark work/supermarket_sales1.csv',header=True)

In [3]:
df.show()

+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
| Invoice ID|     City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
|750-67-8428|   Yangon|  null|   Health and beauty|     74.69|    null|26.1415|548.9715|01-05-2019|
|226-31-3081|Naypyitaw|Female|Electronic access...|     15.28|       5|   3.82|   80.22|03-08-2019|
|631-41-3108|   Yangon|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|03-03-2019|
|123-19-1176|   Yangon|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048| 1/27/2019|
|373-73-7910|     null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|
|699-14-3026|     null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|
|355-53-5943|   Yangon|Female|                null|     68.84|       6| 20.652| 433.692| 2/25/2019|
|315-22-5665|Naypyitaw|Female|  Home and lifestyle|     73.56|    null|  36.78|  772.38|      null|
|665-32-9167|   Yangon|Female|   Health and beauty|     36.26|    null|  3.626|  76.146|01-10-2019|
|692-92-5582|     null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|
|351-62-0822|     null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|
|529-56-3974| Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|
|365-64-0515|     null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|
|252-56-2699|   Yangon|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495|02-07-2019|
|829-34-3910|   Yangon|Female|   Health and beauty|     71.38|      10|  35.69|  749.49| 3/29/2019|
|299-46-1805| Mandalay|Female|   Sports and travel|     93.72|       6| 28.116| 590.436| 1/15/2019|
|656-95-9349|   Yangon|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|03-11-2019|
|765-26-6951|   Yangon|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443|01-01-2019|
|329-62-1586|   Yangon|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105| 1/21/2019|
|319-50-3348| Mandalay|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|03-11-2019|
+-----------+---------+------+--------------------+----------+--------+-------+--------+----------+
only showing top 20 rows

# row_number Window Function

row_number() window function is used to give the sequential row number starting from 1 to the result of each window partition.

In [4]:
# row_number

from pyspark.sql.window import Window
from pyspark.sql.functions import *
windowSpec=Window.partitionBy("City").orderBy("Total")

df.withColumn("row_number",row_number().over(windowSpec)).show(truncate=False)

+-----------+--------+------+----------------------+----------+--------+-------+--------+----------+----------+
|Invoice ID |City    |Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date      |row_number|
+-----------+--------+------+----------------------+----------+--------+-------+--------+----------+----------+
|699-14-3026|null    |Male  |null                  |85.39     |7       |29.8865|null    |3/25/2019 |1         |
|365-64-0515|null    |null  |Electronic accessories|46.95     |5       |null   |null    |02-12-2019|2         |
|692-92-5582|null    |Female|null                  |null      |3       |8.226  |172.746 |2/20/2019 |3         |
|351-62-0822|null    |Female|null                  |14.48     |4       |2.896  |60.816  |02-06-2019|4         |
|373-73-7910|null    |Male  |null                  |86.31     |7       |30.2085|634.3785|02-08-2019|5         |
|268-03-6164|Mandalay|Male  |Health and beauty     |96.11     |1       |4.8055 |100.9155|1/25/2019 |1         |
|761-49-0439|Mandalay|Female|Electronic accessories|12.1      |8       |4.84   |101.64  |1/19/2019 |2         |
|176-64-7711|Mandalay|Male  |Food and beverages    |32.32     |3       |4.848  |101.808 |3/27/2019 |3         |
|744-16-7898|Mandalay|Female|Home and lifestyle    |97.37     |10      |48.685 |1022.385|1/15/2019 |4         |
|303-96-2227|Mandalay|Female|Home and lifestyle    |97.38     |10      |48.69  |1022.49 |03-02-2019|5         |
|401-18-8016|Mandalay|Female|Sports and travel     |98.13     |1       |4.9065 |103.0365|1/21/2019 |6         |
|241-96-5076|Mandalay|Female|Home and lifestyle    |49.1      |2       |4.91   |103.11  |01-08-2019|7         |
|181-82-6255|Mandalay|Female|Home and lifestyle    |16.37     |6       |4.911  |103.131 |02-08-2019|8         |
|883-69-1285|Mandalay|Male  |Fashion accessories   |49.92     |2       |4.992  |104.832 |03-06-2019|9         |
|152-03-4217|Mandalay|Female|Home and lifestyle    |11.28     |9       |5.076  |106.596 |3/17/2019 |10        |
|529-56-3974|Mandalay|Male  |Electronic accessories|25.51     |4       |5.102  |107.142 |03-09-2019|11        |
|641-43-2399|Mandalay|Male  |Home and lifestyle    |25.55     |4       |5.11   |107.31  |1/26/2019 |12        |
|821-14-9046|Mandalay|Female|Fashion accessories   |17.48     |6       |5.244  |110.124 |1/18/2019 |13        |
|378-24-2715|Mandalay|Male  |Home and lifestyle    |53.44     |2       |5.344  |112.224 |1/20/2019 |14        |
|291-32-1427|Mandalay|Male  |Fashion accessories   |21.94     |5       |5.485  |115.185 |03-05-2019|15        |
+-----------+--------+------+----------------------+----------+--------+-------+--------+----------+----------+
only showing top 20 rows

# rank Window Function

rank() window function is used to provide a rank to the result within a window partition.
This function leaves gaps in rank when there are ties.

In [5]:
df.withColumn("rank",rank().over(windowSpec)).show()

+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+----+
| Invoice ID|    City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|rank|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+----+
|699-14-3026|    null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|   1|
|365-64-0515|    null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|   1|
|692-92-5582|    null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|   3|
|351-62-0822|    null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|   4|
|373-73-7910|    null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|   5|
|268-03-6164|Mandalay|  Male|   Health and beauty|     96.11|       1| 4.8055|100.9155| 1/25/2019|   1|
|761-49-0439|Mandalay|Female|Electronic access...|      12.1|       8|   4.84|  101.64| 1/19/2019|   2|
|176-64-7711|Mandalay|  Male|  Food and beverages|     32.32|       3|  4.848| 101.808| 3/27/2019|   3|
|744-16-7898|Mandalay|Female|  Home and lifestyle|     97.37|      10| 48.685|1022.385| 1/15/2019|   4|
|303-96-2227|Mandalay|Female|  Home and lifestyle|     97.38|      10|  48.69| 1022.49|03-02-2019|   5|
|401-18-8016|Mandalay|Female|   Sports and travel|     98.13|       1| 4.9065|103.0365| 1/21/2019|   6|
|241-96-5076|Mandalay|Female|  Home and lifestyle|      49.1|       2|   4.91|  103.11|01-08-2019|   7|
|181-82-6255|Mandalay|Female|  Home and lifestyle|     16.37|       6|  4.911| 103.131|02-08-2019|   8|
|883-69-1285|Mandalay|  Male| Fashion accessories|     49.92|       2|  4.992| 104.832|03-06-2019|   9|
|152-03-4217|Mandalay|Female|  Home and lifestyle|     11.28|       9|  5.076| 106.596| 3/17/2019|  10|
|529-56-3974|Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|  11|
|641-43-2399|Mandalay|  Male|  Home and lifestyle|     25.55|       4|   5.11|  107.31| 1/26/2019|  12|
|821-14-9046|Mandalay|Female| Fashion accessories|     17.48|       6|  5.244| 110.124| 1/18/2019|  13|
|378-24-2715|Mandalay|  Male|  Home and lifestyle|     53.44|       2|  5.344| 112.224| 1/20/2019|  14|
|291-32-1427|Mandalay|  Male| Fashion accessories|     21.94|       5|  5.485| 115.185|03-05-2019|  15|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+----+
only showing top 20 rows

# dense_rank Window Function

dense_rank() window function is used to get the result with rank of rows within a window partition without any gaps. 
This is similar to rank() function difference being rank function leaves gaps in rank when there are ties.

In [6]:
"""dens_rank"""
from pyspark.sql.functions import dense_rank
df.withColumn("dense_rank",dense_rank().over(windowSpec)).show()

+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+----------+
| Invoice ID|    City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|dense_rank|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+----------+
|699-14-3026|    null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|         1|
|365-64-0515|    null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|         1|
|692-92-5582|    null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|         2|
|351-62-0822|    null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|         3|
|373-73-7910|    null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|         4|
|268-03-6164|Mandalay|  Male|   Health and beauty|     96.11|       1| 4.8055|100.9155| 1/25/2019|         1|
|761-49-0439|Mandalay|Female|Electronic access...|      12.1|       8|   4.84|  101.64| 1/19/2019|         2|
|176-64-7711|Mandalay|  Male|  Food and beverages|     32.32|       3|  4.848| 101.808| 3/27/2019|         3|
|744-16-7898|Mandalay|Female|  Home and lifestyle|     97.37|      10| 48.685|1022.385| 1/15/2019|         4|
|303-96-2227|Mandalay|Female|  Home and lifestyle|     97.38|      10|  48.69| 1022.49|03-02-2019|         5|
|401-18-8016|Mandalay|Female|   Sports and travel|     98.13|       1| 4.9065|103.0365| 1/21/2019|         6|
|241-96-5076|Mandalay|Female|  Home and lifestyle|      49.1|       2|   4.91|  103.11|01-08-2019|         7|
|181-82-6255|Mandalay|Female|  Home and lifestyle|     16.37|       6|  4.911| 103.131|02-08-2019|         8|
|883-69-1285|Mandalay|  Male| Fashion accessories|     49.92|       2|  4.992| 104.832|03-06-2019|         9|
|152-03-4217|Mandalay|Female|  Home and lifestyle|     11.28|       9|  5.076| 106.596| 3/17/2019|        10|
|529-56-3974|Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|        11|
|641-43-2399|Mandalay|  Male|  Home and lifestyle|     25.55|       4|   5.11|  107.31| 1/26/2019|        12|
|821-14-9046|Mandalay|Female| Fashion accessories|     17.48|       6|  5.244| 110.124| 1/18/2019|        13|
|378-24-2715|Mandalay|  Male|  Home and lifestyle|     53.44|       2|  5.344| 112.224| 1/20/2019|        14|
|291-32-1427|Mandalay|  Male| Fashion accessories|     21.94|       5|  5.485| 115.185|03-05-2019|        15|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+----------+
only showing top 20 rows

# percent_rank Window Function

In [7]:
""" percent_rank """
from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)).show()

+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+--------------------+
| Invoice ID|    City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|        percent_rank|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+--------------------+
|699-14-3026|    null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|                 0.0|
|365-64-0515|    null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|                 0.0|
|692-92-5582|    null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|                 0.5|
|351-62-0822|    null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|                0.75|
|373-73-7910|    null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|                 1.0|
|268-03-6164|Mandalay|  Male|   Health and beauty|     96.11|       1| 4.8055|100.9155| 1/25/2019|                 0.0|
|761-49-0439|Mandalay|Female|Electronic access...|      12.1|       8|   4.84|  101.64| 1/19/2019| 0.00303951367781155|
|176-64-7711|Mandalay|  Male|  Food and beverages|     32.32|       3|  4.848| 101.808| 3/27/2019|  0.0060790273556231|
|744-16-7898|Mandalay|Female|  Home and lifestyle|     97.37|      10| 48.685|1022.385| 1/15/2019| 0.00911854103343465|
|303-96-2227|Mandalay|Female|  Home and lifestyle|     97.38|      10|  48.69| 1022.49|03-02-2019|  0.0121580547112462|
|401-18-8016|Mandalay|Female|   Sports and travel|     98.13|       1| 4.9065|103.0365| 1/21/2019|0.015197568389057751|
|241-96-5076|Mandalay|Female|  Home and lifestyle|      49.1|       2|   4.91|  103.11|01-08-2019|  0.0182370820668693|
|181-82-6255|Mandalay|Female|  Home and lifestyle|     16.37|       6|  4.911| 103.131|02-08-2019| 0.02127659574468085|
|883-69-1285|Mandalay|  Male| Fashion accessories|     49.92|       2|  4.992| 104.832|03-06-2019|  0.0243161094224924|
|152-03-4217|Mandalay|Female|  Home and lifestyle|     11.28|       9|  5.076| 106.596| 3/17/2019| 0.02735562310030395|
|529-56-3974|Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|0.030395136778115502|
|641-43-2399|Mandalay|  Male|  Home and lifestyle|     25.55|       4|   5.11|  107.31| 1/26/2019| 0.03343465045592705|
|821-14-9046|Mandalay|Female| Fashion accessories|     17.48|       6|  5.244| 110.124| 1/18/2019|  0.0364741641337386|
|378-24-2715|Mandalay|  Male|  Home and lifestyle|     53.44|       2|  5.344| 112.224| 1/20/2019| 0.03951367781155015|
|291-32-1427|Mandalay|  Male| Fashion accessories|     21.94|       5|  5.485| 115.185|03-05-2019|  0.0425531914893617|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+--------------------+
only showing top 20 rows

# ntile Window Function

ntile() window function returns the relative rank of result rows within a window partition.
In below example we have used 2 as an argument to ntile hence it returns ranking between 2 values (1 and 2)

In [8]:
"""ntile"""
from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)) \
    .show()

+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+-----+
| Invoice ID|    City|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|ntile|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+-----+
|699-14-3026|    null|  Male|                null|     85.39|       7|29.8865|    null| 3/25/2019|    1|
|365-64-0515|    null|  null|Electronic access...|     46.95|       5|   null|    null|02-12-2019|    1|
|692-92-5582|    null|Female|                null|      null|       3|  8.226| 172.746| 2/20/2019|    1|
|351-62-0822|    null|Female|                null|     14.48|       4|  2.896|  60.816|02-06-2019|    2|
|373-73-7910|    null|  Male|                null|     86.31|       7|30.2085|634.3785|02-08-2019|    2|
|268-03-6164|Mandalay|  Male|   Health and beauty|     96.11|       1| 4.8055|100.9155| 1/25/2019|    1|
|761-49-0439|Mandalay|Female|Electronic access...|      12.1|       8|   4.84|  101.64| 1/19/2019|    1|
|176-64-7711|Mandalay|  Male|  Food and beverages|     32.32|       3|  4.848| 101.808| 3/27/2019|    1|
|744-16-7898|Mandalay|Female|  Home and lifestyle|     97.37|      10| 48.685|1022.385| 1/15/2019|    1|
|303-96-2227|Mandalay|Female|  Home and lifestyle|     97.38|      10|  48.69| 1022.49|03-02-2019|    1|
|401-18-8016|Mandalay|Female|   Sports and travel|     98.13|       1| 4.9065|103.0365| 1/21/2019|    1|
|241-96-5076|Mandalay|Female|  Home and lifestyle|      49.1|       2|   4.91|  103.11|01-08-2019|    1|
|181-82-6255|Mandalay|Female|  Home and lifestyle|     16.37|       6|  4.911| 103.131|02-08-2019|    1|
|883-69-1285|Mandalay|  Male| Fashion accessories|     49.92|       2|  4.992| 104.832|03-06-2019|    1|
|152-03-4217|Mandalay|Female|  Home and lifestyle|     11.28|       9|  5.076| 106.596| 3/17/2019|    1|
|529-56-3974|Mandalay|  Male|Electronic access...|     25.51|       4|  5.102| 107.142|03-09-2019|    1|
|641-43-2399|Mandalay|  Male|  Home and lifestyle|     25.55|       4|   5.11|  107.31| 1/26/2019|    1|
|821-14-9046|Mandalay|Female| Fashion accessories|     17.48|       6|  5.244| 110.124| 1/18/2019|    1|
|378-24-2715|Mandalay|  Male|  Home and lifestyle|     53.44|       2|  5.344| 112.224| 1/20/2019|    1|
|291-32-1427|Mandalay|  Male| Fashion accessories|     21.94|       5|  5.485| 115.185|03-05-2019|    1|
+-----------+--------+------+--------------------+----------+--------+-------+--------+----------+-----+
only showing top 20 rows